.btn {
  border: 1px solid rgba(0, 0, 0, .15);
  border-bottom-color: rgba(0, 0, 0, .3);
  border-radius: 3px;
  background: linear-gradient(to top, #ECECEC, #FEFEFE);
  line-height: 9px;
  display: inline-block;
  margin: 1px;
  padding: 8px 10px 9px 9px;
  outline: 0;
}

.btn[class*="icon-"]:before {
  margin: 0 7px 0 0;
}

.btn.btn-green {
  border: 1px solid #5E9450;
  border-bottom-color: #457339;
  background: linear-gradient(to top, #38920C, #4BA91D);
  color: #FFFFFF;
}

.btn.btn-green:hover {
  background: linear-gradient(to top, #317E0B, #3B8D13);
  border: 1px solid #527F4D;
  border-bottom-color: #426C36;
}

.btn.btn-green:active {
  background: #35840E;
  box-shadow: inset 0 2px 4px 0 rgba(0,0,0,.2);
}

.btn:focus {
  box-shadow: 0 0 0 2px #5199DB;
  border: 1px solid #FFFFFF;
}

.btn:hover {
  background: linear-gradient(to top, #DFDFDF, #F2F2F2);
}

.btn:active {
  border: 1px solid rgba(0, 0, 0, .2);
  border-top-color: rgba(0, 0, 0, .35);
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, .1);
  background: #D9D9D9;
}

.btn.disabled,
.btn[disabled] {
  border: 1px solid rgba(0, 0, 0, .15) !important;
  background: #F2F2F2;
  color: #808080;
  box-shadow: none;
}

.btn-green-arrow {
  width: 176px;
  height: 38px;
  border: 0;
  background: transparent url("/images/green-button.png") no-repeat 0 0;
  margin: 0;
  padding: 0;
  outline: 0;
}

.btn-green-arrow.disabled,
.btn-green-arrow[disabled] {
  background-position: 0 -38px;
}

.btn-green-arrow:hover {
  background-position: 0 -114px;
}

.btn-green-arrow:focus {
  background-position: 0 -76px;
}

.btn-green-arrow:active {
  background-position: 0 -152px;
}