@font-face {
  font-family: Kontur-iconic;
  src: url("/fonts/contur-iconic.eot?"), url("/fonts/contur-iconic.ttf");
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;

  font-family: Kontur-iconic, sans-serif;
  font-size: 13px;
  line-height: 100%;
  color: #404040;
}

.clearfix:after {
  content: "";
  height: 0;
  clear: both;
  display: block;
}

.toolbar {
  width: 332px;
  height: 100%;
  float: left;
  position: fixed;
}

.toolbar,
.toolbar-overlay {
  background: #BFBFBF;
  padding-bottom: 1px;
}

.toolbar.mod,
.toolbar.mod .toolbar-overlay {
  background: #5199DB;
}

.toolbar.error,
.toolbar.error .toolbar-overlay {
  background: #F6C1C0;
}

.toolbar.error #message {
  color: red;
}

.toolbar-content {
  margin: 31px 0 0 33px;
}

.workspace {
  display: inline-block;
  margin-left: 332px;
}

.workspace-overlay {
  display: block;
  margin: 15px 0 0 40px;
}

.controls {
  margin-top: 10px;
}

.controls:after {
  content: "";
  height: 0;
  clear: both;
  display: block;
}

.controls .label {
  display: inline-block;
  margin: 7px 0 0 10px;
}

.controls .btn {
  float: left;
}

.controls.all-matrix {
  margin-top: 55px;
}

.controls.all-matrix .btn + .btn {
  margin-top: 10px;
  margin-left: 0;
}

.controls.matrix-toggle {
  margin: 67px 0 17px;
}
