html, body {
  width: 100%;
  height: 100%;
  margin: 0;

  font-size: 14px;
  color: #404040;
}

.clearfix:after {
  content: "";
  height: 0;
  clear: both;
  display: block;
}

.toolbar {
  width: 350px;
  height: 100%;
  float: left;
  position: fixed;
}

.toolbar,
.toolbar-overlay {
  background: #BCBCBC;
  padding-bottom: 1px;
}

.toolbar.mod,
.toolbar.mod .toolbar-overlay {
  background: #5199DB;
}

.toolbar.error,
.toolbar.error .toolbar-overlay {
  background: #F6C1C0;
}

.toolbar.error #message {
  color: red;
}

.toolbar-content {
  margin: 10px;
}

.workspace {
  display: inline-block;
  margin-left: 350px;
}

.workspace-overlay {
  display: block;
  margin: 10px;
}

.controls {
  margin-top: 10px;
}