@font-face {
  font-family: Kontur-iconic;
  src: url("/fonts/contur-iconic.ttf");
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;

  font-family: Kontur-iconic, sans-serif;
  font-size: 14px;
  color: #404040;
}

.toolbar {
  height: 100%;
  float: left;
}

.toolbar,
.toolbar-overlay {
  background: #CCCCCC;
  padding-bottom: 1px;
}

.toolbar-content {
  margin: 10px;
}

.workspace {
  display: inline-block;
}

.workspace-overlay {
  display: block;
  margin: 10px;
}