.matrix {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-top: 5px;
  float: left;
}

.matrix + .matrix {
  margin-top: 5px;
  margin-left: 5px;
}

.matrix-left,
.matrix-right {
  border: 1px solid #404040;
  width: 8px;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
}

.matrix-left {
  float: left;
  border-right: 0;
  left: 0;
}

.matrix-right {
  float: right;
  border-left: 0;
  right: 0;
}

.matrix-center {
  margin: 8px
}

.matrix-center ul + ul {
  margin-top: 10px;
}

.matrix-center li {
  display: block;
  float: left;
}

.matrix-center ul:after {
  content: "";
  height: 0;
  clear: both;
  display: block;
}

.matrix-center li + li {
  margin-left: 10px;
}

.matrix-center ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.matrix-center li {
  display: inline-block;
}

.matrix input[type="text"] {
  width: 34px;
  height: 34px;
  margin: 0;
  padding: 2px;
}

.matrix-name {
  font-size: 18px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
}

.matrix-name div {
  top: 50%;
  position: absolute;
  margin-top: -10px;
}

#matrixA .matrix-name {
  height: 100%;
  top: 0;
  right: -20px;
}

#matrixB  .matrix-name {
  width: 100%;
  left: 0;
  bottom: -36px;
}